.env
.env.*
__pycache__/
*.pyc
venv/
.venv/
backups/*.bak
backups/*.rar
web_log.txt
*.log
~$*
.TarzTamin-Test-API Key.txt
*API Key.txt
Instances/*.db
Instances/*.sqlite
*.db
static/uploads/
static/uploads/
docs/Git Token.txt
*Token*.txt
*token*.txt
docs/*Token*
static/documents/generated/
static/documents/generated/
!.env.example
!.env.example
docs/AI API.txt
*.save.*
docs/GitHub Token.txt
